*{Inset: 0;
  margin: 0;
  padding: 0;

  --theme-primary: #000;
  --theme-secondary: #000;
  --theme-accent: #000;
  --theme-surface: #343E3D;

  --theme-primary-content: #000;
  --theme-secondary-content: #000;
  --theme-accent-content: #000;
  --theme-surface-content: #000;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid;
    border-width: 8px;
    border-color: rgb(0, 255, 0);

}


